@import url("./cabecalho.css");
@import url("./conteudo.css");
@import url("./break-point-629px.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html{
    font-size: 62.7%;
}

table{
    border-collapse: collapse;
    margin: 5% auto;
}

td,th{
    border: 1px solid #000000;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #dddddd;
}

tr:hover{
    background-color: #de6666;
}

td[colspan],[rowspan]{
    background-color: #ecd60e;
    text-align: center;
    font-weight: 700;
}


.rodape{
    display: flex;
    flex-direction: column;
}

.rodape > div{
    display: flex;
}

.rodape div form{
    margin: 0 auto;
    width: 50%;
}

.rodape div form input[type="email"],input[type="password"]{
    display: block;
    width: 90%;
    height: 30px;
    margin: 0 auto 1.5%  auto;   
}

.rodape div form input[type="checkbox"]{
    margin: 2% auto; 
}

.rodape div form select{
    display: block;
    margin: 0 auto 2% auto;
}
.rodape form div fieldset{
    width: 90%;
}

.lbl-txt{
    margin: auto 5%;
}

.rodape form div button{
    width: 40%; 
}





